@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f0f8ff;
}

:root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
